.form-title {
    line-height: 28px;
}
.form-title h1 {
    font-size: 33px;
    margin-top: 30px;
    color: #001529;
}

.form-title h2 {
    font-size: 18px;
    margin-top: -9px;
    margin-bottom: 28px;
    color: #333;
    font-weight: 300;
}

.content-box {
    border-radius: 5px;
    overflow: hidden;
    color: #333;
    background-color: #fff;
    box-shadow: 0 7px 0 0 rgb(70 70 70 / 1%), 0 6px 0 0 rgb(65 65 65 / 1%), 0 5px 0 0 rgb(60 60 60 / 1%), 0 4px 0 0 rgb(55 55 55 / 1%), 0 3px 0 0 rgb(50 50 50 / 1%), 0 2px 0 0 rgb(50 50 50 / 1%), 0 1px 0 0 rgb(45 45 45 / 1%);
}  

.uploader-container {
    background-color: #3c3c3c;
    background-image: linear-gradient(45deg,rgba(0,0,0,.06) 25%,transparent 0),linear-gradient(-45deg,rgba(0,0,0,.06) 25%,transparent 0),linear-gradient(45deg,transparent 75%,rgba(0,0,0,.06) 0),linear-gradient(-45deg,transparent 75%,rgba(0,0,0,.06) 0);
    background-size: 24px 24px;
    background-position: 0 0,0 12px,12px -12px,-12px 0;
    height: 70px;
    width: 75%;
}

.btn-holder {
    padding: 17px 26px;
    text-align: left;
    display: flex;
    align-items: center;
}

.submit-container {
    background-color: #4f68b0;
    height: 70px;
    width: 25%;
    cursor: pointer;
    opacity: 1;
}

.submit-container:hover {
    opacity: 0.97;
    transition: opacity .15s ease-in-out,color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.submit-container span{
    font-weight: bold;
    color: white;
    font-size: 19px;
    line-height: 70px;
}

.submit-container svg {
    height: 22px;
    width: 22px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 19px;
    margin-top: -11px;
    fill: hsla(0,0%,100%,.55);
    transform: translateX(0);
    transition: transform .3s ease;
    color: hotpink;
}

.file-btn {
    height: 36px;
    width: 194px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 2px 7px 10px 0 rgb(0 0 0 / 10%), 2px 11px 11px 0 rgb(0 0 0 / 10%), 2px 6px 8px 0 rgb(0 0 0 / 8%), 2px 5px 8px 0 rgb(252 22 0 / 5%);
}

.add-btn-caption {
    margin: -5px 0 -5px 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    max-height: 40px;
    font-weight: 300;
}

.algo-btn {
    padding: 20px;
    height: 78px;
    width: 204px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #1d1d1d;
    border: none;
    color: #fff;
    transition: background-color .15s ease-in-out,color .15s ease-in-out;
}

.operator-block {
    font-size: 34px;
    padding: 0 28px;
    font-weight: 600;
}