@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  float: left;
  padding-left: 40px;
  width: 360px;
  height: 32px;
  color: beige;
  font-size: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 4px;
  vertical-align:middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
